<nav class="text-white bg-gray-800">
  <div class="container mx-auto px-4">
    <div class="flex justify-between items-center py-4">
      <a
        routerLink="/home"
        class="text-sm md:text-md lg:text-2xl italic font-bold"
      >yzioual</a>

      <!-- Navigation Links -->
      <div id="menu" class="flex justify-evenly lg:flex-row space-x-4 items-center">
        <a
          href="https://www.linkedin.com/in/yzioual"
          target="_blank"
          rel="noopener noreferrer"
          class="hover:text-gray-300"
        >
          <img
            src="media/icons8-linkedin-windows-11-color/icons8-linkedin-48.svg"
            alt="LinkedIn"
            class="w-8 h-8"
          />
        </a>
        <a
          href="https://www.github.com/uness7/"
          target="_blank"
          rel="noopener noreferrer"
          class="hover:text-gray-300"
        >
          <img
            src="media/git/icons8-git-94.png"
            alt="LinkedIn"
            class="w-8 h-8"
          />
        </a>
        <a routerLink="/projects" class="hover:text-gray-300">Projects</a>
        <a routerLink="/blog" class="hover:text-gray-300">Blogs</a>
      </div>
    </div>
  </div>
</nav>
