<section class="flex flex-col items-center justify-center w-full px-8 pt-14">
    <div class="flex flex-col justify-center items-center gap-8">
        <div>
            <img class="w-[200px] lg:w-[full/2] rounded-full mb-4" src="media/IMG_20241211_170400_683.webp" alt="My profil picture">
        </div>
        <div class="w-[300px] md:w-[600px] lg:w-[900px] mx-auto text-center">
            <h1 class="text-xl lg:text-4xl font-bold mb-6">Hello 👋, I'm Youness</h1>
            <p class="text-xl text-left lg:text-2xl mb-8">
            I'm a 42 student, and passionate about programming and crafting software.
            I am familiar with C/C++, and I love Python and Typescript!
            I also love solving leetcode challenges!
            </p>
        </div>
    </div>
</section>
