<section class="flex flex-col items-center justify-center h-1/6 px-14">
    <div class="flex items-center justify-center">
        <h1 class="text-sm lg:text-4xl px-auto py-4 font-bold">Skills</h1>
    </div>
    <div class="grid grid-cols-2 lg:grid-cols-6 gap-4">
        <div class="w-[80px] h-[80px] bg-gray-800 p-4 rounded-lg shadow-md hover:scale-105 transition">
            <p class="text-xl font-medium items-center">
            <object class="mx-auto" width="48px" data="media/python/icons8-python-100.svg" type="image/svg+xml"></object>
            </p>
        </div>
        <div class="w-[80px] h-[80px] bg-gray-800 p-4 rounded-lg shadow-md hover:scale-105 transition">
            <p class="text-xl font-medium">
            <object class="mx-auto" width="48px" data="media/ts/icons8-typescript-96.svg" type="image/svg+xml"></object>
            </p>
        </div>
        <div class="w-[80px] h-[80px] bg-gray-800 p-4 rounded-lg shadow-md hover:scale-105 transition">
            <p class="text-xl font-medium">
            <object class="mx-auto" width="48px" data="media/django/icons8-django-a-high-level-python-web-framework-that-encourages-rapid-development-100.svg" type="image/svg+xml"></object>
            </p>
        </div>
        <div class="w-[80px] h-[80px] bg-gray-800 p-4 rounded-lg shadow-md hover:scale-105 transition">
            <p class="text-xl font-medium">
            <object class="mx-auto" width="48px" data="media/angular/icons8-angular-100.svg" type="image/svg+xml"></object>
            </p>
        </div>
        <div class="w-[80px] h-[80px] bg-gray-800 p-4 rounded-lg shadow-md hover:scale-105 transition">
            <p class="text-xl font-medium">
            <object class="mx-auto" width="48px" data="media/docker/icons8-docker-a-set-of-coupled-software-as-a-service-100.svg" type="image/svg+xml"></object>
            </p>
        </div>
        <div class="bg-gray-800 p-4 rounded-lg shadow-md hover:scale-105 transition">
            <p class="text-xl font-medium items-center">
            <img class="mx-auto" width="48px" src="media/git/icons8-git-100.png" height="48px">
            </p>
        </div>
    </div>
</section>
